In [1]:
import duckdb

In [3]:
df = duckdb.read_csv("death_rates_for_suicide_us.csv")

In [5]:
duckdb.sql("SELECT DISTINCT STUB_NAME FROM df").show()

┌─────────────────────────────────────────────────────┐
│                      STUB_NAME                      │
│                       varchar                       │
├─────────────────────────────────────────────────────┤
│ Sex                                                 │
│ Sex, age and race                                   │
│ Sex and age                                         │
│ Sex, age and race (Single race)                     │
│ Sex and race and Hispanic origin (Single race)      │
│ Sex, age and race and Hispanic origin               │
│ Total                                               │
│ Sex and race                                        │
│ Sex and race (Single race)                          │
│ Age                                                 │
│ Sex and race and Hispanic origin                    │
│ Sex, age and race and Hispanic origin (Single race) │
├─────────────────────────────────────────────────────┤
│                       12 rows                       │
└─────────────────────────────────────────────────────┘

In [6]:
duckdb.sql("SELECT DISTINCT STUB_NAME_NUM FROM df").show()

┌───────────────┐
│ STUB_NAME_NUM │
│     int64     │
├───────────────┤
│             0 │
│            11 │
│             8 │
│             7 │
│             2 │
│            10 │
│             4 │
│             1 │
│             5 │
│             9 │
│             6 │
│             3 │
├───────────────┤
│    12 rows    │
└───────────────┘

In [7]:
duckdb.sql("SELECT DISTINCT STUB_LABEL FROM df").show()

┌───────────────────────────────────────────────────────────────────────────────┐
│                                  STUB_LABEL                                   │
│                                    varchar                                    │
├───────────────────────────────────────────────────────────────────────────────┤
│ Male                                                                          │
│ Male: Asian or Pacific Islander                                               │
│ Female: Not Hispanic or Latino: White                                         │
│ Female: Hispanic or Latino: All races                                         │
│ Male: Not Hispanic or Latino: Asian                                           │
│ Male: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander       │
│ 10-14 years                                                                   │
│ 15-19 years                                                                   │
│ 20-24 years                                                                   │
│ 65-74 years                                                                   │
│      ·                                                                        │
│      ·                                                                        │
│      ·                                                                        │
│ Female: 45-54 years                                                           │
│ Male: Black or African American: 85 years and over                            │
│ Female: Black or African American: 45-64 years                                │
│ Male: Not Hispanic or Latino: Asian or Pacific Islander: 25-44 years          │
│ Female: Not Hispanic or Latino: American Indian or Alaska Native: 25-44 years │
│ Male: Not Hispanic or Latino: Black or African American: 65 years and over    │
│ Male: Hispanic or Latino: All races: 15-24 years                              │
│ Female: Not Hispanic or Latino: White: 65 years and over                      │
│ Female: Not Hispanic or Latino: Black or African American: 25-44 years        │
│ Female: Not Hispanic or Latino: Black or African American: 45-64 years        │
├───────────────────────────────────────────────────────────────────────────────┤
│                              161 rows (20 shown)                              │
└───────────────────────────────────────────────────────────────────────────────┘

In [8]:
duckdb.sql("SELECT DISTINCT STUB_LABEL_NUM FROM df").show()

┌────────────────┐
│ STUB_LABEL_NUM │
│     double     │
├────────────────┤
│            0.0 │
│           4.11 │
│           1.32 │
│            1.5 │
│           1.53 │
│          3.141 │
│           3.22 │
│          3.231 │
│          3.232 │
│           3.25 │
│             ·  │
│             ·  │
│             ·  │
│          5.235 │
│          5.243 │
│          6.141 │
│          6.143 │
│          6.151 │
│          7.115 │
│          7.233 │
│          7.234 │
│          6.161 │
│          6.261 │
├────────────────┤
│    161 rows    │
│   (20 shown)   │
└────────────────┘

In [12]:
duckdb.sql("SELECT DISTINCT YEAR, YEAR_NUM FROM df order by YEAR, YEAR_NUM").show()

┌───────┬──────────┐
│ YEAR  │ YEAR_NUM │
│ int64 │  int64   │
├───────┼──────────┤
│  1950 │        1 │
│  1960 │        2 │
│  1970 │        3 │
│  1980 │        4 │
│  1981 │        5 │
│  1982 │        6 │
│  1983 │        7 │
│  1984 │        8 │
│  1985 │        9 │
│  1986 │       10 │
│    ·  │        · │
│    ·  │        · │
│    ·  │        · │
│  2009 │       33 │
│  2010 │       34 │
│  2011 │       35 │
│  2012 │       36 │
│  2013 │       37 │
│  2014 │       38 │
│  2015 │       39 │
│  2016 │       40 │
│  2017 │       41 │
│  2018 │       42 │
├───────┴──────────┤
│     42 rows      │
│    (20 shown)    │
└──────────────────┘

In [13]:
duckdb.sql("SELECT DISTINCT AGE, AGE_NUM FROM df order by AGE, AGE_NUM").show()

┌───────────────────┬─────────┐
│        AGE        │ AGE_NUM │
│      varchar      │ double  │
├───────────────────┼─────────┤
│ 10-14 years       │     1.0 │
│ 15-19 years       │     2.1 │
│ 15-24 years       │     2.0 │
│ 20-24 years       │     2.2 │
│ 25-34 years       │     3.1 │
│ 25-44 years       │     3.0 │
│ 35-44 years       │     3.2 │
│ 45-54 years       │     4.1 │
│ 45-64 years       │     4.0 │
│ 55-64 years       │     4.2 │
│ 65 years and over │     5.0 │
│ 65-74 years       │     5.1 │
│ 75-84 years       │     5.2 │
│ 85 years and over │     6.0 │
│ All ages          │     0.0 │
├───────────────────┴─────────┤
│ 15 rows           2 columns │
└─────────────────────────────┘

In [16]:
duckdb.sql("SELECT DISTINCT ESTIMATE FROM df").show()

┌────────────┐
│  ESTIMATE  │
│   double   │
├────────────┤
│       11.9 │
│       10.5 │
│       14.0 │
│       19.9 │
│       21.7 │
│       20.5 │
│       20.7 │
│       21.4 │
│        5.6 │
│        7.4 │
│         ·  │
│         ·  │
│         ·  │
│       26.4 │
│       37.3 │
│       57.9 │
│       56.6 │
│       54.4 │
│       40.2 │
│       44.4 │
│       44.6 │
│       41.5 │
│       60.7 │
├────────────┤
│  530 rows  │
│ (20 shown) │
└────────────┘

In [17]:
duckdb.sql("SELECT DISTINCT FLAG FROM df").show()

┌─────────┐
│  FLAG   │
│ varchar │
├─────────┤
│ NULL    │
│ ...     │
│ *       │
└─────────┘